# IDE
.vscode/

# Builds
dist/

# Dependencias
node_modules/

# Variables de entorno
backend/.env
frontend/.env.local

# Opcional: ignorar .env en cualquier subcarpeta
**/.env

# Coverage de tests
coverage/
backend/coverage/
frontend/coverage/