.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  padding: 30px;
  border-radius: 20px;
  width: 420px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.input,
.select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: #0b1220;
  color: white;
}

.button {
  padding: 10px;
  background-color: #5842e3;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}